<div class="text-center" id="facebook-container">
    <h4>Help us get recognized. 
    <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fwww.careen.aerobatic.io&layout=button&size=small&mobile_iframe=true&width=69&height=20&appId" width="90" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    this page on Facebook if you like it.</h4>
</div>

<div class="post-container">
    {{#each this}}
    <div class="panel panel-default" id="post-{{id}}">
        <div class="panel-heading text-center">
            <h3>{{carBrand}}</h3>
            <i>Posted by <b>{{author}}</b></i>
        </div>
        <div class="panel-body">
            <div class="center-block">
                <img class="post-image img-responsive" src="{{imageURL}}" alt="{{carBrand}}">
                <div class="post-description text-center">
                    <span>{{description}}</span>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="likes-panel">
                {{#if isLiked}}
                    <span class="glyphicon glyphicon-heart-empty like liked" id="{{id}}-unlike"></span>
                {{else}}
                    <span class="glyphicon glyphicon-heart-empty like not-liked" id="{{id}}-like"></span>
                {{/if}}
                <span id="{{id}}-num-of-likes">{{likes}}</span>
            </div>
        </div>
            <div class="comments" id="{{id}}-comments">
                
            </div>
            
            <div class="center-block">
                <textarea name="add-comment" id="{{id}}-add-comment" class="form-control" rows="5" placeholder="Leave comment..."></textarea>
            </div>
    </div>
    {{/each}}

    <button type="button" class="btn btn-circle btn-lg" id="add-post">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
</div>