<div id="detailsContainer">
    <div class="panel panel-default">
        <div id="detailsHeader" class="panel-heading text-center">
            <h3>Profile details</h3>
        </div>
        <div class="container">
            <div class="row-fluid">
                <div id="profilePictureContainer" class="col col-xs-4">
                    <img id="profilePicture" class="img-rounded" src="{{this.photoURL}}"
                         alt="No profile picture added yet">
                    <button id="changePicBtn" type="button" class="btn btn-primary">
                        {{#if this.photoURL}}
                            Change profile picture
                        {{else}}
                            Add profile picture
                        {{/if}}
                    </button>
                    <div id="changePicContainer" class="form-group row">
                        <div class="col-xs-10">
                            <!--<label for="urlTextBox">Picture URL:</label>-->
                            <input class="form-control" id="urlTextBox" type="url" placeholder="Picture URL">
                            <button id="savePicBtn" class="btn btn-success">Save</button>
                            <button id="cancelPicBtn" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
                <div id="profileInfoContainer" class="col col-xs-7">
                    <p>
                        Email: {{this.email}}

                        <button id="editEmailBtn" class="btn btn-primary"><!--<label for="emailTextBox">-->Edit<!--</label>-->
                        </button>
                    <div id="changeEmailContainer" class="form-group row changeInfoContainer">
                        <div class="col-xs-10">
                            <input id="emailTextBox" class="form-control changeInfo" type="email"
                                   placeholder="e.g John@mymail.com">
                            <button id="saveEmailBtn" class="btn btn-success">Save</button>
                            <button id="cancelEmailBtn" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                    </p>
                    <p>
                        Display name:
                        {{#if this.displayName}}
                            {{this.displayName}}
                        {{else}}
                            <small class="text-muted">
                                <u>No display name added yet</u>
                            </small>
                        {{/if}}
                        <button id="editNameBtn" class="btn btn-primary">Edit</button>
                    <div id="changeNameContainer" class="form-group row changeInfoContainer">
                        <div class="col-xs-10">
                            <input class="form-control" id="nameTextBox" type="text" placeholder="e.g John">
                            <button id="saveNameBtn" class="btn btn-success">Save</button>
                            <button id="cancelNameBtn" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                    </p>
                </div>

            </div>
        </div>

        <button type="button" class="btn btn-circle btn-lg" id="add-post">
            <i class="glyphicon glyphicon-plus"></i>
        </button>
    </div>